# Web Framework
fastapi
uvicorn[standard]

# Task Queue
celery
eventlet
amqp     # RabbitMQ transport

# Database
sqlmodel
psycopg2-binary

# Utilities
python-dotenv
pydantic-settings
requests
networkx
fpdf2
numpy
redis
fastapi-cache2[redis]
playwright

# --- SECURITY ---
passlib
bcrypt==3.2.2
python-jose[cryptography]
python-multipart

# --- Notifications & Reporting ---
fastapi-mail
matplotlib
scipy
httpx
